<p class="docfont">
You can search for specific Aurora sample IDs, BCR barcodes, etc (e.g., "AUR_01_01_06"), or use the Additional Filters to choose from pre-defined search criteria.  Also, if you know a filename you can also use the search box to type in the full name or a partial filename.<br>

<b><u>Boolean Operators</u></b><br>
As with most computer languages, Elasticsearch supports the AND, OR, and NOT operators:<br>
   - jack AND jill — Will return events that contain both jack and jill<br>
   - ahab NOT moby — Will return events that contain ahab but not moby<br>
   - tom OR jerry — Will return events that contain tom or jerry, or both<br>   
<br>
<b><u>Fields</u></b><br>
You might be looking for events where a specific field contains certain terms. You specify that as follows:<br>
  - name:”Ned Stark”<br>
  <br>
<i>Be careful with values with spaces such as “Ned Stark.” You’ll need to enclose it in double quotes to ensure that the whole value is used.</i>
  <br>
<u>Wildcards, Regexes and Fuzzy Searching</u><br>
The search would not be a search without wildcards. You can use the * character for multiple character wildcards or the ? character for single character wildcards:<br>
  - Ma?s — Will match Mars, Mass, and Maps<br>
  - Ma*s — Will match Mars, Matches, and Massachusetts<br>
</p>
