{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# CSS files #}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />

    {# Custom Fonts #}
    <script type="text/javascript" src="{% static 'js/fontawesome-all.min.js' %}"></script>
<!--
    <script src="https://d3js.org/d3.v5.min.js"></script>
-->
    {# Django CSRF Protection #}
    {% csrf_token %}

    {# Extras #}
    {%block headextras%}{%endblock%}

    <title>{%block title%}{%endblock%}</title>

  </head>
  <body>
<div id="pittlogo"><img src="/static/img/pitt.jpg" height="50px;"></div>    
<div class="jumbotron  jumbotron-fluid text-center">
<h1>Aurora Breast Cancer</h1>
 <h3>Data Discovery Portal</h3>     
 <!-- <hr class="my-4">  creates a hz line-->
</div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="navbar-nav my-lg-0">
            {%if auth_enabled and request.user.is_authenticated %}
            <li>
              <a class="navbar-brand" href="/">Welcome {{request.user.username }}</a>
            </li>
             <li>
              <a class="navbar-brand" href="{% url 'logout' %}?next=/">| Logout</a>
            </li>
            {% elif auth_enabled %}
            <li>
              <a class="navbar-brand" href="{% url 'login' %}globus?next=/">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
<div class="info">
  <span class="about">About the data repository...</span><br>
</div>   
{%if auth_enabled and request.user.is_authenticated %}
<div class="h-center">
  You have successfully logged in and can now begin searching the repository.<br> 
  <span>
  <a class="large" href="/search">Get Started</a>
</span>
</div>
{% endif %}
    <!-- Page body -->
    {%block body%}
    {%endblock%}

    <!-- Page footer -->
    {% include 'components/footer.html' %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
